<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/"> 
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-gray-50">
    <div class="">
        <div class=" container mx-auto px-4 bg-gradient-to-r from-slate-400 via-sky-300 to-slate-500 h-32 m-7 rounded-3xl items-center flex justify-center">
            <p class=" font-mono font-extrabold text-[30px] ">My Appointments</p>
        </div>
        <div class="container">
            <ul class="list-group" id="myList">
                <% for(let data of doc){%>
                    <li class="list-group-item">
                        <h2>Name : <%= data.name %></h2>
                        <p>Email : <%= data.contact%></p>
                        <p>Experience : <%= data.msg%></p>
                    </li><br>
                <% } %>
            </ul>  
        </div>
        <br><br><br>
        <div class=" container mx-auto px-4 bg-gradient-to-r from-slate-400 via-sky-300 to-slate-500 h-32 m-7 rounded-3xl items-center flex justify-center">
            <p class=" font-mono font-extrabold text-[30px] ">Book Appoinments</p>
        </div>
        <div class="container">
            <h2>Type something in the input field to search the list for specific items:</h2>  
                <div style="display: flex; align-items: center;">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
            <br>
        </div>
        <div class="container">
            <ul class="list-group" id="myList">
                <% for(let data of docData){%>
                    <li class="list-group-item">
                        <h2>Name : <%= data.username %></h2>
                        <p>Email : <%= data.email%></p>
                        <p>Experience : <%= data.experience%></p>
                        <p>Location : <%= data.language %></p>
                        <p>Speciality : <%=data.speciality %></p>
                        <form method="get" action="/appointments/<%= data.email %>">
                            <button type="submit" class="btn btn-primary">Book Appointment</button>
                        </form>
                    </li><br>
                <% } %>
            </ul>  
        </div>
        
    </div>
   
    <script>
        $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myList li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
</body>
</html>